<md-sidenav
    class="md-sidenav-left navigation-panel"
    md-component-id="left"
    md-is-locked-open="true">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
        <md-content>
            <md-list flex
                    ng-cloak
                    class="navigation-panel-menu">
                <md-list-item ng-repeat="game in gameList" >
                    <md-button ng-click="loadGame(game.location)">
                        <span><i class="fa {{game.faClass}} fa-fw"></i>{{game.name}}</span>
                    </md-button>
                </md-list-item>
                <md-list-item ng-repeat="stat in statList" >
                    <md-button ng-click="loadGame(stat.location)">
                        <span><i class="fa {{stat.faClass}} fa-fw"></i>{{stat.name}}</span>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
</md-sidenav>