<div data-ng-controller="YahtzeeController as yahtzee" flex layout="row">
    <div flex>
        <table border="1" class="yahtzee-score-grid">
        <tr>
            <td class="score-grid-bold"><span>Upper Section</span></td>
            <td class="score-grid-bold"><span>Points</span></td>
        </tr>
        <tr>
            <td><span>Ones</span></td>
            <td><span ng-class="{'yahtzee-score-not-played': !yahtzee.wasMovePlayed('ones'), 'yahtzee-score': yahtzee.wasMovePlayed('ones') }" 
                ng-click="yahtzee.playMove('ones', yahtzee.getDiceScore(1))" ng-if="yahtzee.wasMovePlayed('ones') || yahtzee.showScore()">{{yahtzee.getMoveScore('ones')}}</span></td>
        </tr>
        <tr>
            <td><span>Twos</span></td>
            <td><span ng-class="{'yahtzee-score-not-played': !yahtzee.wasMovePlayed('twos'), 'yahtzee-score': yahtzee.wasMovePlayed('twos') }" 
                ng-click="yahtzee.playMove('twos', yahtzee.getDiceScore(2))" ng-if="yahtzee.wasMovePlayed('twos') || yahtzee.showScore()">{{yahtzee.getMoveScore('twos')}}</span></td>
        </tr>
        <tr>
            <td><span>Threes</span></td>
            <td><span ng-class="{'yahtzee-score-not-played': !yahtzee.wasMovePlayed('threes'), 'yahtzee-score': yahtzee.wasMovePlayed('threes') }" 
                ng-click="yahtzee.playMove('threes', yahtzee.getDiceScore(3))" ng-if="yahtzee.wasMovePlayed('threes') || yahtzee.showScore()">{{yahtzee.getMoveScore('threes')}}</span></td>
        </tr>
        <tr>
            <td><span>Fours</span></td>
            <td><span ng-class="{'yahtzee-score-not-played': !yahtzee.wasMovePlayed('fours'), 'yahtzee-score': yahtzee.wasMovePlayed('fours') }" 
                ng-click="yahtzee.playMove('fours', yahtzee.getDiceScore(4))" ng-if="yahtzee.wasMovePlayed('fours') || yahtzee.showScore()">{{yahtzee.getMoveScore('fours')}}</span></td>
        </tr>
        <tr>
            <td><span>Fives</span></td>
            <td><span ng-class="{'yahtzee-score-not-played': !yahtzee.wasMovePlayed('fives'), 'yahtzee-score': yahtzee.wasMovePlayed('fives') }" 
                ng-click="yahtzee.playMove('fives', yahtzee.getDiceScore(5))" ng-if="yahtzee.wasMovePlayed('fives') || yahtzee.showScore()">{{yahtzee.getMoveScore('fives')}}</span></td>
        </tr>
        <tr>
            <td><span>Sixes</span></td>
            <td><span ng-class="{'yahtzee-score-not-played': !yahtzee.wasMovePlayed('sixes'), 'yahtzee-score': yahtzee.wasMovePlayed('sixes') }" 
                ng-click="yahtzee.playMove('sixes', yahtzee.getDiceScore(6))" ng-if="yahtzee.wasMovePlayed('sixes') || yahtzee.showScore()">{{yahtzee.getMoveScore('sixes')}}</span></td>
        </tr>
        <tr>
            <td><span class="score-grid-bold">Total Score</span></td>
            <td></td>
        </tr>
        <tr>
            <td><span class="score-grid-bold">Bonus. If total score is 63 or over</span></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2"><span class="score-grid-bold">Lower Section</span></td>
        </tr>
        <tr>
            <td><span>Three of a kind</span></td>
            <td><span ng-class="{'yahtzee-score-not-played': !yahtzee.wasMovePlayed('threeOfAKind'), 'yahtzee-score': yahtzee.wasMovePlayed('threeOfAKind') }" 
                ng-click="yahtzee.playMove('threeOfAKind', yahtzee.threeOfAKind())" ng-if="yahtzee.wasMovePlayed('threeOfAKind') || yahtzee.showScore()">{{yahtzee.getMoveScore('threeOfAKind')}}</span></td>
        </tr>
        <tr>
            <td><span>Four of a kind</span></td>
            <td><span ng-class="{'yahtzee-score-not-played': !yahtzee.wasMovePlayed('fourOfAKind'), 'yahtzee-score': yahtzee.wasMovePlayed('fourOfAKind') }" 
                ng-click="yahtzee.playMove('fourOfAKind', yahtzee.fourOfAKind())" ng-if="yahtzee.wasMovePlayed('fourOfAKind') || yahtzee.showScore()">{{yahtzee.getMoveScore('fourOfAKind')}}</span></td>
        </tr>
        <tr>
            <td><span>Full House</span></td>
            <td><span ng-class="{'yahtzee-score-not-played': !yahtzee.wasMovePlayed('fullHouse'), 'yahtzee-score': yahtzee.wasMovePlayed('fullHouse') }" 
                ng-click="yahtzee.playMove('fullHouse', yahtzee.fullHouse())" ng-if="yahtzee.wasMovePlayed('fullHouse') || yahtzee.showScore()">{{yahtzee.getMoveScore('fullHouse')}}</span></td>
        </tr>
        <tr>
            <td><span>Small Straight</span></td>
            <td><span ng-class="{'yahtzee-score-not-played': !yahtzee.wasMovePlayed('smallStraight'), 'yahtzee-score': yahtzee.wasMovePlayed('smallStraight') }" 
                ng-click="yahtzee.playMove('smallStraight', yahtzee.smallStraight())" ng-if="yahtzee.wasMovePlayed('smallStraight') || yahtzee.showScore()">{{yahtzee.getMoveScore('smallStraight')}}</span></td>
        </tr>
        <tr>
            <td><span>Large Straight</span></td>
            <td><span ng-class="{'yahtzee-score-not-played': !yahtzee.wasMovePlayed('largeStraight'), 'yahtzee-score': yahtzee.wasMovePlayed('largeStraight') }" 
                ng-click="yahtzee.playMove('largeStraight', yahtzee.largeStraight())" ng-if="yahtzee.wasMovePlayed('largeStraight') || yahtzee.showScore()">{{yahtzee.getMoveScore('largeStraight')}}</span></td>
        </tr>
        <tr>
            <td><span>YAHTZEE</span></td>
            <td><span ng-class="{'yahtzee-score-not-played': !yahtzee.wasMovePlayed('yahtzee'), 'yahtzee-score': yahtzee.wasMovePlayed('yahtzee') }" 
                ng-click="yahtzee.playMove('yahtzee', yahtzee.yahtzee())" ng-if="yahtzee.wasMovePlayed('yahtzee') || yahtzee.showScore()">{{yahtzee.getMoveScore('yahtzee')}}</span></td>
        </tr>
        <tr>
            <td><span>Chance</span></td>
            <td><span ng-class="{'yahtzee-score-not-played': !yahtzee.wasMovePlayed('chance'), 'yahtzee-score': yahtzee.wasMovePlayed('chance') }" 
                ng-click="yahtzee.playMove('chance', yahtzee.getDicesTotalScore())" ng-if="yahtzee.wasMovePlayed('chance') || yahtzee.showScore()">{{yahtzee.getMoveScore('chance')}}</span></td>
        </tr>
        <tr>
            <td><span class="score-grid-bold">Total Lower Section</span></td>
            <td></td>
        </tr>
        <tr>
            <td><span class="score-grid-bold">Total Upper Section</span></td>
            <td></td>
        </tr>
        <tr>
            <td><span class="score-grid-bold">Grand Total</span></td>
            <td></td>
        </tr>
        </table>
    </div>
    <div flex>
        <div layout="row" layout-align="space-around center" layout-padding>
            <div class="dice" ng-repeat="dice in yahtzee.dices | limitTo: 3">
                <div class="dice {{dice.class}}" ng-show="!dice.kept" ng-click="yahtzee.keepDice(dice)"></div>
            </div>
        </div>
        <div layout="row" layout-align="space-around center" layout-padding>
            <div class="dice" ng-repeat="dice in yahtzee.dices" ng-if="$index >= 3">
                <div class="dice {{dice.class}}" ng-show="!dice.kept" ng-click="yahtzee.keepDice(dice)"></div>
            </div>
        </div>
        <div layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" aria-label="rollDices" ng-click="yahtzee.rollDices()" ng-disabled="!yahtzee.rollingAllowed()">
                <span>Roll dices</span>
            </md-button>
        </div>
        <div layout="row" layout-align="space-around center" layout-padding>
            <div class="dice" ng-repeat="dice in yahtzee.dices | limitTo: 3">
                <div class="dice {{dice.class}}" ng-show="dice.kept" ng-click="yahtzee.unkeepDice(dice)"></div>
            </div>
        </div>
        <div layout="row" layout-align="space-around center" layout-padding>
            <div class="dice" ng-repeat="dice in yahtzee.dices" ng-if="$index >= 3" >
                <div class="dice {{dice.class}}" ng-show="dice.kept" ng-click="yahtzee.unkeepDice(dice)"></div>
            </div>
        </div>
    </div>
</div>