.dice{
    width: 64px;
    height: 64px;
}

.dice-one{
    background-image: url(../assets/dice-one.png);
}

.dice-two{
    background-image: url(../assets/dice-two.png);
}

.dice-three{
    background-image: url(../assets/dice-three.png);
}

.dice-four{
    background-image: url(../assets/dice-four.png);
}

.dice-five{
    background-image: url(../assets/dice-five.png);
}

.dice-six{
    background-image: url(../assets/dice-six.png);
}

.yahtzee-score-grid{
    height: 100%;

    tr{
        td:last-child {
            width: 60px;
        }           
    }

    .score-grid-bold{
        font-weight: bold;
    }
}